In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.__version__

'1.21.6'

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [ ]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [ ]:
df.shape

(11914, 16)

In [ ]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [17]:
df.query("Make=='Audi'")

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
17,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
18,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
19,Audi,100,1992,regular unleaded,172.0,6.0,AUTOMATIC,all wheel drive,4.0,Luxury,Midsize,Wagon,20,16,3105,2000
20,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
21,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,all wheel drive,4.0,Luxury,Midsize,Sedan,21,16,3105,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10901,Audi,TTS,2016,premium unleaded (required),292.0,4.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Factory Tuner,Luxury,Performance",Compact,Coupe,27,23,3105,51900
10902,Audi,TTS,2017,premium unleaded (required),292.0,4.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,27,23,3105,52500
11178,Audi,V8,1992,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2000
11179,Audi,V8,1993,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2149
11180,Audi,V8,1994,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2239

In [ ]:
df.query("Make=='Audi'")

In [ ]:
df.count()

Make                 11914
Model                11914
Year                 11914
Engine Fuel Type     11911
Engine HP            11845
Engine Cylinders     11884
Transmission Type    11914
Driven_Wheels        11914
Number of Doors      11908
Market Category       8172
Vehicle Size         11914
Vehicle Style        11914
highway MPG          11914
city mpg             11914
Popularity           11914
MSRP                 11914
dtype: int64

In [34]:
kl=df.groupby(['Model'])['Make']

In [40]:
kl.unique().value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'numpy.ndarray'

[Chevrolet]                62
[Ford]                     51
[Lexus]                    46
[Mercedes-Benz]            40
[Toyota]                   39
[BMW]                      38
[Infiniti]                 37
[Audi]                     31
[Dodge]                    31
[Nissan]                   31
[Volkswagen]               30
[Cadillac]                 30
[Mazda]                    30
[GMC]                      29
[Volvo]                    25
[Mitsubishi]               22
[Hyundai]                  22
[Honda]                    21
[Buick]                    20
[Pontiac]                  20
[Acura]                    18
[Oldsmobile]               18
[Bentley]                  17
[Kia]                      16
[Subaru]                   16
[Suzuki]                   16
[Chrysler]                 15
[Lincoln]                  15
[Ferrari]                  14
[Porsche]                  12
[Aston Martin]             12
[Land Rover]               11
[Rolls-Royce]              10
[Scion]                     8
[Saab]                      8
[Maserati]                  7
[Lamborghini]               6
[Plymouth]                  5
[Lotus]                     5
[FIAT]                      5
[McLaren]                   4
[Maybach]                   3
[HUMMER]                    2
[Audi, Volkswagen]          1
[Bugatti]                   1
[Mazda, Nissan]             1
[Chevrolet, GMC]            1
[Chrysler, Plymouth]        1
[Dodge, Plymouth]           1
[Tesla]                     1
[BMW, Infiniti]             1
[Genesis]                   1
[Chrysler, Plymouth]        1
[Spyker]                    1
[Audi, Chrysler]            1
[Alfa Romeo]                1
[Audi, Maserati, Volvo]     1
[Bentley, Lincoln]          1
[Dodge, Plymouth]           1
[Chrysler, Plymouth]        1
Name: Make, dtype: int64

In [44]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [ ]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64